<h1>Create New Hero</h1>

<%= form_for @hero do |f| %>
    <p>
	<%= f.label :title %>
	<%= f.text_field :title %>

    </p>
    <p>
	<%= f.fields_for :comic do |ff| %>
	    <%= ff.label :name %>
        <%= ff.text_field :name %>
        <%= ff.text_field :name %>
	<% end %>
    </p>
    <p>
	<%= f.submit %>
    </p>
<% end %>

<p>Find me in app/views/heros/new.html.erb</p>
