<%= form_for comicbook do |f| %>
    <p>
        <%= f.fields_for :person do |person|  %>
            <%= person.label :person %>
            <%= person.text_field :name %>
        <% end %>
    </p>
    <p>
    <%= f.fields_for :squad do |squad|  %>
        <%= squad.label :team %>
        <%= squad.text_field :name %>
    <% end %>
    </p>

    <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </p>
   

    <%= f.submit %>
<% end %>