<h1>Your List</h1>

<!-- <h4>Search By Team</h4> -->
    <%= form_tag comicbooks_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" , :name => nil %>
    <% end %>

    <table >
        <tr >
            <th class="tableheader">Hero</th>
            <th class="tableheader">Team</th>
            <th class="tableheader">Comicbooks</th>
        </tr>
            <% @comicbooks.each do |comicbook| %>
            <!-- <%= render partial: 'comicbooks/all_comicbooks', locals: {comicbooks: @comicbooks} %> -->
            <%= render partial: 'comicbook', locals: {comicbook: comicbook }%>
            <% end %>
    </table>
    <div class="vertical_spacer"><br></div>
    <%= link_to :'New Book', new_comicbook_path %>


