<h1><%= @person.name %></h1>

<%= link_to "New Post", new_person_comicbook_path(@person) %>
 
<p>Comicbooks:</p>
<% @person.comicbooks.each do |comicbook| %>
  <div><%= comicbook.title %></div>
<% end %>

<!-- <ul>
    <% @comicbooks.each do |comicbook| %>
        <li><%= link_to comicbook.title, person_comicbook_path(comicbook.person,comicbook) %></li>
    <% end %>
</ul> -->

<%= link_to 'Add New', new_person_comicbook_path(@person) %>