<!DOCTYPE html>
<html>
  <head>
    <h1 class="header">Hero List</h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
    <title>Hero List</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
    <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
  </head>
    <body>
        <div class="container purple topBotomBordersIn">
          <a href="/">HOME</a>
          <a href="/comicbooks">YOUR LIST</a>
          <a href="/comicbooks/new">ADD ENTRY</a>
          <!-- <a href="/persons/new">ADD HERO</a> -->
          <a href="/users/edit">YOUR ACCOUNT</a>
        </div>
    <!-- Error message goes here -->
    <% if @errors %>
        <ul>
          <% @errors.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
    <%= yield %>
  </body>
  <div class="vertical_spacer"><br></div>
  <div class="vertical_spacer"><br></div>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</html>
